In [1]:
import pandas as pd
obj = pd.Series([4, 7, -5, 3])
print(obj)

0    4
1    7
2   -5
3    3
dtype: int64

In [3]:
sales = pd.Series([100 ,200 ,100 ,400])
print(sales.values)
print(sales.index)

[100 200 100 400]
RangeIndex(start=0, stop=4, step=1)

In [10]:
sales = pd.Series([100, 200, 100, 400], index = ["Jan" , "Feb", "Mar", "Apr"])
print(sales)
print(sales.values)
print(sales.index)

Jan    100
Feb    200
Mar    100
Apr    400
dtype: int64
[100 200 100 400]
Index(['Jan', 'Feb', 'Mar', 'Apr'], dtype='object')

In [11]:
sales = pd.Series([100, 200, 100, 400], index = ["Jan" , "Feb", "Mar", "Apr"], name = "4 month sales")

In [12]:
print(sales)

Jan    100
Feb    200
Mar    100
Apr    400
Name: 4 month sales, dtype: int64

In [17]:
# Creating the series of Canteen Sales (Snadwiches)
sw = pd.Series([20, 30, 20, 25, 30 ,40, 0], 
               index = ["Mon", "Tue","Wed", "Thu", "Fri","Sat", "Sun"], name = "Sales of Sandwiches in a week")
print(sw)

Mon    20
Tue    30
Wed    20
Thu    25
Fri    30
Sat    40
Sun     0
Name: Sales of Sandwiches in a week, dtype: int64

In [18]:
print(sw[1])

30

In [20]:
print(sw["Tue"])

30

In [21]:
print(sw["Sun"])

0

In [23]:
print(sw[ [3,5] ])

Thu    25
Sat    40
Name: Sales of Sandwiches in a week, dtype: int64

In [25]:
print(sw[ ["Tue", "Thu"] ])

Tue    30
Thu    25
Name: Sales of Sandwiches in a week, dtype: int64

In [26]:
print(sw[sw > 20])

Tue    30
Thu    25
Fri    30
Sat    40
Name: Sales of Sandwiches in a week, dtype: int64

In [29]:
sw * 2
sw = sw *2
print(sw)

Mon    40
Tue    60
Wed    40
Thu    50
Fri    60
Sat    80
Sun     0
Name: Sales of Sandwiches in a week, dtype: int64

In [30]:
 print(sw)

Mon    40
Tue    60
Wed    40
Thu    50
Fri    60
Sat    80
Sun     0
Name: Sales of Sandwiches in a week, dtype: int64

In [31]:
sw = sw /2
print(sw)

Mon    20.0
Tue    30.0
Wed    20.0
Thu    25.0
Fri    30.0
Sat    40.0
Sun     0.0
Name: Sales of Sandwiches in a week, dtype: float64

In [32]:
"Mon" in sw

True

In [33]:
import numpy as np
ar = np.array([3 ,2 ,4 ,5 ,6])
ind = np.array(["a", "b", "c", "d", "e"])

obj2 = pd.Series(ar, index = ind)
print(obj2)

a    3
b    2
c    4
d    5
e    6
dtype: int32

In [39]:
sdata = {"Sindh": 35000, "Punjab": 4500, "KPK": 3000, "Balochistan":2000}
tax_by_state = pd.Series(sdata)
print(tax_by_state)
print(tax_by_state.index)

Sindh          35000
Punjab          4500
KPK             3000
Balochistan     2000
dtype: int64
Index(['Sindh', 'Punjab', 'KPK', 'Balochistan'], dtype='object')

In [51]:
sdata = {"Sindh": 35000, "Punjab": 45000, "KPK": 30000, "Balochistan":20000}
tax_by_state = pd.Series(sdata, index = ["Punjab", "Sindh", "KPK", "Balochistan","GB"])
tax_by_state.name = "state tax paying capacity"
tax_by_state.index.name = "states name"
print(tax_by_state)
print(tax_by_state.index)
print(pd.isnull(tax_by_state))

states name
Punjab         45000.0
Sindh          35000.0
KPK            30000.0
Balochistan    20000.0
GB                 NaN
Name: state tax paying capacity, dtype: float64
Index(['Punjab', 'Sindh', 'KPK', 'Balochistan', 'GB'], dtype='object', name='states name')
states name
Punjab         False
Sindh          False
KPK            False
Balochistan    False
GB              True
Name: state tax paying capacity, dtype: bool

In [48]:
tax_by_state.isnull()

Punjab         False
Sindh          False
KPK            False
Balochistan    False
GB              True
dtype: bool

In [54]:
sw = pd.Series([20, 30, 20, 25, 30, 40, 0],
              index = ["Mon", "Tue","Wed","Thu","Fri","Sat","Sun"])
print(sw)

sw.index = ["M","T","W","T","F","S","S"]
print(sw)

Mon    20
Tue    30
Wed    20
Thu    25
Fri    30
Sat    40
Sun     0
dtype: int64
M    20
T    30
W    20
T    25
F    30
S    40
S     0
dtype: int64