In [1]:
print("Hello,World")

Hello,World

In [2]:
name="Mark"
print(name)

Mark

In [3]:
lesson_author="Mark"
print(lesson_author)

Mark

In [4]:
Thanx="Thanks For your input"
print(Thanx)

Thanks For your input

In [5]:
orignal_num=23
New_num=orignal_num+15
New_num

38

In [6]:
popular_number=2+2
print(2+2)

4

In [7]:
loss=24-12
print(loss)

12

In [8]:
dozens=3*2
print(dozens)

6

In [9]:
popular_number=12/4
popular_number

3.0

In [10]:
Whats_Left_over= 10 % 3
Whats_Left_over

1

In [11]:
age=12
age -=2
age

10

In [12]:
age=24
age +=12
age

36

In [13]:
age=54
amount_to_increment=3
age +=amount_to_increment
age

57

In [14]:
total_cost=1+3*4
total_cost

13

In [15]:
result_of_computation=(2*4)*+2
result_of_computation

16

In [16]:
greeting="Hello"
Addressee= "World"
punc="!"
seperators=","
Whole_greeting=greeting+seperators+Addressee+punc
Whole_greeting

'Hello,World!'

In [17]:
print("The sum of 2 plus 2 is " + "4")

The sum of 2 plus 2 is 4

In [18]:
print ("The sum of 2 plus 2 is " + str(4))

The sum of 2 plus 2 is 4

In [19]:
if 2+2==4:
    print("Everything Makes Sence")

Everything Makes Sence

In [20]:
Number_of_Husbands=1

if Number_of_Husbands==1:
    print("So far so good")
    print("Congratulations!")
    print("I'm Proud of you")

So far so good
Congratulations!
I'm Proud of you

In [21]:
full_name="Mark Myres"
if full_name == "Mark"+" " + "Myres":
    print(full_name)

Mark Myres

In [22]:
your_ticket_number= 487209
if your_ticket_number != 487208:
    print("Better luck next time")

Better luck next time

In [ ]:
if 1 > 0:
if 0 < 1:
if 1 >= 0:
if 1 >= 1:
if 1 <= 1:
if 0 <= 1:
if 1 <= 1:

# if condition.

In [23]:
species="cat"
if species == "cat":
    print("yep its a cat")

if species != "cat":
    print("Nope Its not a cat")

yep its a cat

In [24]:
donut_condition="fresh"
donut_price="High"

if donut_condition == "fresh":
    buy_score=10
elif donut_price == "Low":
    but_score=5

else:
    buy_score = 0
print("buy_score :",buy_score)

buy_score : 10

In [25]:
donut_condition="Fresh"
donut_filling="Chocolate"
donut_price="Resonable"

buy_score=0

if donut_condition == "Fresh":
    buy_score +=10
elif donut_filling == "Chocolate":
    buy_score +=5
elif donut_price == "Reasonable":
    buy_score +=7
else:
    buy_score = 0

print("buy_score:",buy_score)

buy_score: 10

In [26]:
first_name="Harry"
last_name="Potter"

if first_name == "Harry":
    if last_name =="Potter":
        # if interest == "Wizardy"
   
           print("Welcome back to Hogwarts, Harry!")

Welcome back to Hogwarts, Harry!

In [27]:
weight=250
time=4

if weight > 300 and time < 6:
    status = "Try to recruit him"
else:
    status="Do not recruit him"
print("status :",status)

status : Do not recruit him

In [28]:
weight=300
time=4
age=19
height= 64

if weight >= 300 and time < 6 and age > 17 and height < 72:
    status="Try to recruit him"
else:
    status="Do not recruit him"
print("status :",status)

status : Try to recruit him

In [29]:
age = 34
res= "U.K"

if age > 65 or age < 21 and res == "U.K":
    status="He is a residence of U.K"
else:
    status="Nope he is not a residence of U.K"
print("status :",status)

status : Nope he is not a residence of U.K

In [30]:
city_0 = "Atlanta"
city_1 = "Baltimore"
city_2 = "Chicago"
city_3 = "Denver"
city_4 = "Los Angeles"
city_5 = "Seatle"

print("welcome to " + city_3)

welcome to Denver

In [31]:
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seatle"]

print("welcome to " + cities[3])

welcome to Denver

In [32]:
cities= ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seatle"]
cities.append("New York")
print(cities)

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seatle', 'New York']

In [33]:
cities = cities + ["Dubai", "New Orleans"]
print (cities)

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seatle', 'New York', 'Dubai', 'New Orleans']

In [34]:
todays_task=[]
todays_task = todays_task + ["walk dog", "Buy groceries"]
print(todays_task)

['walk dog', 'Buy groceries']

In [35]:
cities.insert(0, "New York")
print(cities)

['New York', 'Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seatle', 'New York', 'Dubai', 'New Orleans']

In [36]:
cities.insert(2, "Dallas")
print(cities)

['New York', 'Atlanta', 'Dallas', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seatle', 'New York', 'Dubai', 'New Orleans']

In [37]:
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seatle"]
smaller_no_of_cities = cities[:5]
smaller_no_of_cities

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles']

In [38]:
tasks = ["small Frank", "call Sarah", "Meet with Zach"]
print(tasks)

['small Frank', 'call Sarah', 'Meet with Zach']

In [39]:
del tasks[0]
print(tasks)

['call Sarah', 'Meet with Zach']

In [40]:
tasks.remove("call Sarah")
print(tasks)

['Meet with Zach']

In [41]:
tasks = []
tasks_accomplished = []
tasks = ["Email Frank","Call Sarah", "Meet with Zach"]
latest_tasks_accomplished = tasks.pop(1)
print(latest_tasks_accomplished)

Call Sarah

In [42]:
tasks_accomplished.append(latest_tasks_accomplished) # Or (tasks.pop(1))
print(tasks_accomplished)

['Call Sarah']

In [43]:
latest_task_accomplished = tasks.pop()
latest_task_accomplished

'Meet with Zach'

In [44]:
tasks = []
tasks_accomplished = []
tasks = ["Email Frank","Call Sarah","Meet with Zach"]
tasks_accomplished.insert(1,tasks.pop(1))
print(tasks_accomplished)

['Call Sarah']

In [45]:
states_in_order_of_founding = ("Delaware","Pennsylvania","New Jersey","Georgia")
second_state_founded = states_in_order_of_founding[1]
print("The second state founded was " + second_state_founded)

The second state founded was Pennsylvania

In [46]:
city_to_check = "Tucson"
cleanest_cities = ["Cheyenne","Santa Fe", "Tucson","Great Falls","Honolulu"]
for a_clean_city in cleanest_cities:
    if city_to_check == a_clean_city:
        print("Its one of the cleanest cities")

Its one of the cleanest cities

In [47]:
x = "Tucson"
y= "Santa Fe"
z = "Cheyenne"
for x in y:
    if x == z:
        print("Its one of the cleanest cities")
else:
        print("There are no cities to show ")

There are no cities to show

In [48]:
first_name = ["Usaid","Iqbal","Ahmed","Bilal","Saad"]
last_name = ["Ahmed","Kalson","Rauf","Khan","Majeed"]
full_name = []
for a_first_name in first_name:
    for a_last_name in last_name:
        full_name.append(a_first_name + " " + a_last_name)
        print(full_name)

['Usaid Ahmed']
['Usaid Ahmed', 'Usaid Kalson']
['Usaid Ahmed', 'Usaid Kalson', 'Usaid Rauf']
['Usaid Ahmed', 'Usaid Kalson', 'Usaid Rauf', 'Usaid Khan']
['Usaid Ahmed', 'Usaid Kalson', 'Usaid Rauf', 'Usaid Khan', 'Usaid Majeed']
['Usaid Ahmed', 'Usaid Kalson', 'Usaid Rauf', 'Usaid Khan', 'Usaid Majeed', 'Iqbal Ahmed']
['Usaid Ahmed', 'Usaid Kalson', 'Usaid Rauf', 'Usaid Khan', 'Usaid Majeed', 'Iqbal Ahmed', 'Iqbal Kalson']
['Usaid Ahmed', 'Usaid Kalson', 'Usaid Rauf', 'Usaid Khan', 'Usaid Majeed', 'Iqbal Ahmed', 'Iqbal Kalson', 'Iqbal Rauf']
['Usaid Ahmed', 'Usaid Kalson', 'Usaid Rauf', 'Usaid Khan', 'Usaid Majeed', 'Iqbal Ahmed', 'Iqbal Kalson', 'Iqbal Rauf', 'Iqbal Khan']
['Usaid Ahmed', 'Usaid Kalson', 'Usaid Rauf', 'Usaid Khan', 'Usaid Majeed', 'Iqbal Ahmed', 'Iqbal Kalson', 'Iqbal Rauf', 'Iqbal Khan', 'Iqbal Majeed']
['Usaid Ahmed', 'Usaid Kalson', 'Usaid Rauf', 'Usaid Khan', 'Usaid Majeed', 'Iqbal Ahmed', 'Iqbal Kalson', 'Iqbal Rauf', 'Iqbal Khan', 'Iqbal Majeed', 'Ahmed Ahmed']
['Usaid Ahmed', 'Usaid Kalson', 'Usaid Rauf', 'Usaid Khan', 'Usaid Majeed', 'Iqbal Ahmed', 'Iqbal Kalson', 'Iqbal Rauf', 'Iqbal Khan', 'Iqbal Majeed', 'Ahmed Ahmed', 'Ahmed Kalson']
['Usaid Ahmed', 'Usaid Kalson', 'Usaid Rauf', 'Usaid Khan', 'Usaid Majeed', 'Iqbal Ahmed', 'Iqbal Kalson', 'Iqbal Rauf', 'Iqbal Khan', 'Iqbal Majeed', 'Ahmed Ahmed', 'Ahmed Kalson', 'Ahmed Rauf']
['Usaid Ahmed', 'Usaid Kalson', 'Usaid Rauf', 'Usaid Khan', 'Usaid Majeed', 'Iqbal Ahmed', 'Iqbal Kalson', 'Iqbal Rauf', 'Iqbal Khan', 'Iqbal Majeed', 'Ahmed Ahmed', 'Ahmed Kalson', 'Ahmed Rauf', 'Ahmed Khan']
['Usaid Ahmed', 'Usaid Kalson', 'Usaid Rauf', 'Usaid Khan', 'Usaid Majeed', 'Iqbal Ahmed', 'Iqbal Kalson', 'Iqbal Rauf', 'Iqbal Khan', 'Iqbal Majeed', 'Ahmed Ahmed', 'Ahmed Kalson', 'Ahmed Rauf', 'Ahmed Khan', 'Ahmed Majeed']
['Usaid Ahmed', 'Usaid Kalson', 'Usaid Rauf', 'Usaid Khan', 'Usaid Majeed', 'Iqbal Ahmed', 'Iqbal Kalson', 'Iqbal Rauf', 'Iqbal Khan', 'Iqbal Majeed', 'Ahmed Ahmed', 'Ahmed Kalson', 'Ahmed Rauf', 'Ahmed Khan', 'Ahmed Majeed', 'Bilal Ahmed']
['Usaid Ahmed', 'Usaid Kalson', 'Usaid Rauf', 'Usaid Khan', 'Usaid Majeed', 'Iqbal Ahmed', 'Iqbal Kalson', 'Iqbal Rauf', 'Iqbal Khan', 'Iqbal Majeed', 'Ahmed Ahmed', 'Ahmed Kalson', 'Ahmed Rauf', 'Ahmed Khan', 'Ahmed Majeed', 'Bilal Ahmed', 'Bilal Kalson']
['Usaid Ahmed', 'Usaid Kalson', 'Usaid Rauf', 'Usaid Khan', 'Usaid Majeed', 'Iqbal Ahmed', 'Iqbal Kalson', 'Iqbal Rauf', 'Iqbal Khan', 'Iqbal Majeed', 'Ahmed Ahmed', 'Ahmed Kalson', 'Ahmed Rauf', 'Ahmed Khan', 'Ahmed Majeed', 'Bilal Ahmed', 'Bilal Kalson', 'Bilal Rauf']
['Usaid Ahmed', 'Usaid Kalson', 'Usaid Rauf', 'Usaid Khan', 'Usaid Majeed', 'Iqbal Ahmed', 'Iqbal Kalson', 'Iqbal Rauf', 'Iqbal Khan', 'Iqbal Majeed', 'Ahmed Ahmed', 'Ahmed Kalson', 'Ahmed Rauf', 'Ahmed Khan', 'Ahmed Majeed', 'Bilal Ahmed', 'Bilal Kalson', 'Bilal Rauf', 'Bilal Khan']
['Usaid Ahmed', 'Usaid Kalson', 'Usaid Rauf', 'Usaid Khan', 'Usaid Majeed', 'Iqbal Ahmed', 'Iqbal Kalson', 'Iqbal Rauf', 'Iqbal Khan', 'Iqbal Majeed', 'Ahmed Ahmed', 'Ahmed Kalson', 'Ahmed Rauf', 'Ahmed Khan', 'Ahmed Majeed', 'Bilal Ahmed', 'Bilal Kalson', 'Bilal Rauf', 'Bilal Khan', 'Bilal Majeed']
['Usaid Ahmed', 'Usaid Kalson', 'Usaid Rauf', 'Usaid Khan', 'Usaid Majeed', 'Iqbal Ahmed', 'Iqbal Kalson', 'Iqbal Rauf', 'Iqbal Khan', 'Iqbal Majeed', 'Ahmed Ahmed', 'Ahmed Kalson', 'Ahmed Rauf', 'Ahmed Khan', 'Ahmed Majeed', 'Bilal Ahmed', 'Bilal Kalson', 'Bilal Rauf', 'Bilal Khan', 'Bilal Majeed', 'Saad Ahmed']
['Usaid Ahmed', 'Usaid Kalson', 'Usaid Rauf', 'Usaid Khan', 'Usaid Majeed', 'Iqbal Ahmed', 'Iqbal Kalson', 'Iqbal Rauf', 'Iqbal Khan', 'Iqbal Majeed', 'Ahmed Ahmed', 'Ahmed Kalson', 'Ahmed Rauf', 'Ahmed Khan', 'Ahmed Majeed', 'Bilal Ahmed', 'Bilal Kalson', 'Bilal Rauf', 'Bilal Khan', 'Bilal Majeed', 'Saad Ahmed', 'Saad Kalson']
['Usaid Ahmed', 'Usaid Kalson', 'Usaid Rauf', 'Usaid Khan', 'Usaid Majeed', 'Iqbal Ahmed', 'Iqbal Kalson', 'Iqbal Rauf', 'Iqbal Khan', 'Iqbal Majeed', 'Ahmed Ahmed', 'Ahmed Kalson', 'Ahmed Rauf', 'Ahmed Khan', 'Ahmed Majeed', 'Bilal Ahmed', 'Bilal Kalson', 'Bilal Rauf', 'Bilal Khan', 'Bilal Majeed', 'Saad Ahmed', 'Saad Kalson', 'Saad Rauf']
['Usaid Ahmed', 'Usaid Kalson', 'Usaid Rauf', 'Usaid Khan', 'Usaid Majeed', 'Iqbal Ahmed', 'Iqbal Kalson', 'Iqbal Rauf', 'Iqbal Khan', 'Iqbal Majeed', 'Ahmed Ahmed', 'Ahmed Kalson', 'Ahmed Rauf', 'Ahmed Khan', 'Ahmed Majeed', 'Bilal Ahmed', 'Bilal Kalson', 'Bilal Rauf', 'Bilal Khan', 'Bilal Majeed', 'Saad Ahmed', 'Saad Kalson', 'Saad Rauf', 'Saad Khan']
['Usaid Ahmed', 'Usaid Kalson', 'Usaid Rauf', 'Usaid Khan', 'Usaid Majeed', 'Iqbal Ahmed', 'Iqbal Kalson', 'Iqbal Rauf', 'Iqbal Khan', 'Iqbal Majeed', 'Ahmed Ahmed', 'Ahmed Kalson', 'Ahmed Rauf', 'Ahmed Khan', 'Ahmed Majeed', 'Bilal Ahmed', 'Bilal Kalson', 'Bilal Rauf', 'Bilal Khan', 'Bilal Majeed', 'Saad Ahmed', 'Saad Kalson', 'Saad Rauf', 'Saad Khan', 'Saad Majeed']

In [49]:
city_to_check = input("Enter the name of a city ")

Enter the name of a city Toronto

In [50]:
monthly_income = input("Enter monthly income ")
monthly_income_as_an_integer = int(monthly_income)

Enter monthly income 20

In [51]:
monthly_income = float(monthly_income)
print(monthly_income)

20.0

In [52]:
min_wage = 20
print("The minimum wage in your state is $" + str(min_wage))

The minimum wage in your state is $20

In [53]:
city_to_check = input("Enter your city ")
city_to_check = city_to_check.lower()
cleanest_cities = ["cheyenne","santa fe","tucson"]
for a_clean_city in cleanest_cities:
    if city_to_check == a_clean_city:
        print("Its one of the cleanest cities")

Enter your city santa fe
Its one of the cleanest cities

In [54]:
customer_29876 = {"first name": "David", "last name": "Elliot","Address": "4803 Wellesley St."}
print(customer_29876)

{'first name': 'David', 'last name': 'Elliot', 'Address': '4803 Wellesley St.'}

In [55]:
address_of_customer = customer_29876["Address"]
print(address_of_customer)

4803 Wellesley St.

In [56]:
customer_29876["city"] = "Toronto"
print(customer_29876)

{'first name': 'David', 'last name': 'Elliot', 'Address': '4803 Wellesley St.', 'city': 'Toronto'}

In [57]:
del customer_29876["city"]
print(customer_29876)

{'first name': 'David', 'last name': 'Elliot', 'Address': '4803 Wellesley St.'}

In [58]:
customer_29876["city"] = "London"
print(customer_29876)

{'first name': 'David', 'last name': 'Elliot', 'Address': '4803 Wellesley St.', 'city': 'London'}

In [59]:
customer_29876["city"] = "Jamaica"
print(customer_29876)

{'first name': 'David', 'last name': 'Elliot', 'Address': '4803 Wellesley St.', 'city': 'Jamaica'}

In [60]:
print(customer_29876["first name"])
print(customer_29876["last name"])
print(customer_29876["Address"])

David
Elliot
4803 Wellesley St.

In [61]:
for each_value in customer_29876.values():
    print(each_value)

David
Elliot
4803 Wellesley St.
Jamaica

In [62]:
for each_key in customer_29876.keys():
    print(each_key)

first name
last name
Address
city

In [63]:
for each_key,each_value in customer_29876.items():
    print("The customer's",each_key,"is",each_value)

The customer's first name is David
The customer's last name is Elliot
The customer's Address is 4803 Wellesley St.
The customer's city is Jamaica

In [64]:
customer_29876 ={
    "first name": "David",
    "last name" : "Peterson",
    "Address" : "4803 Wellesley St.",
}

customer_first_name = customer_29876["first name"]
print(customer_first_name)

David

In [65]:
customer = [
{
"customer id": 0,
"first name": "john",
"last name": "Ogden",
"address":"301 Arbor Rd.",
},
]

#List of dictionary.

In [66]:
customer_first_name = customer[0]["first name"]
print(customer_first_name)

john

In [67]:
customer_last_name = customer[0]["last name"]
print(customer_last_name)

Ogden

In [68]:
for each_key,each_value in customer[0].items():
    print("The customer's",each_key,"is",each_value)

The customer's customer id is 0
The customer's first name is john
The customer's last name is Ogden
The customer's address is 301 Arbor Rd.

In [69]:
new_customer_id = len(customer[0])
print(new_customer_id)

4

In [70]:
new_dictionary = {
"customer id": 2,
"first name": "Thomas",
"last name":"Elliot",
"Address":"469 Merchant Street",
}
customer.append(new_dictionary)
print(customer)

[{'customer id': 0, 'first name': 'john', 'last name': 'Ogden', 'address': '301 Arbor Rd.'}, {'customer id': 2, 'first name': 'Thomas', 'last name': 'Elliot', 'Address': '469 Merchant Street'}]